%header.fixed-top.navbar-fixed-js.navbar-fixed-js--custom       
  %nav.navbar.navbar-expand-lg
    .container
      .main-brand__top
        .main-brand
          %a.navbar-brand{ :href => 'index.html' }
            %img#iso{ :src => 'assets/img/logo_2@2x.png', :alt=>"Logo Ekored"}/ 
      .main-brand__fixed
        .main-brand
          %a.navbar-brand{ :href => 'index.html' }
            %img#iso{ :src => 'assets/img/logo_2@2x.png', :alt=>"Logo Ekored" }/ 
      .main-brand.brand-responsive
        %a.navbar-brand{ :href => 'index.html' }
          %img#iso{ :src => 'assets/img/logo_2@2x.png', :alt=>"Logo Ekored"}/ 
        %button.navbar-toggler.p-2.border-0.hamburger.hamburger--elastic.ml-autos{ 'data-toggle' => 'offcanvas', :type => 'button' }
          %span.hamburger-box
          %span.hamburger-inner
      .navbar-collapse.offcanvas-collapse
        %ul.navbar-nav.mr-autos
          %li.nav-item
            %a.nav-link.nav-link-p.fixed--link{:href => 'nosotros.html',:data-toggle => 'offcanvas' }
              Quénes Somos
            -# %ul-menu
            -#   %li
            -#     %a{:href => "attraction-and-talent-selection.html"} 
            -#   %li
            -#     %a{:href => "youth-program.html"} 
            -#   %li
            -#     %a{:href => "career-development.html"} 
            -#   %li
            -#     %a{:href => "evaluation-and-career.html"} Zona de Clientes
            -#   %li
            -#     %a{:href => "inhouse-consultant.html"} 
            -#   %li
            -#     %a{:href => "employer-brand.html"} Marca empleadora
          %li.nav-item
            %a.nav-link.nav-link-p.fixed--link{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              PET
            -# %ul-menu
            -#   %li
            -#     %a{:href => "diversity-and-inclusion.html"} Diversidad e inclusión
            -#   %li
            -#     %a{:href => "future-of-work.html"} Futuro del trabajo
            -#   %li
            -#     %a{:href => "future-of-education.html"} Futuro de la educación
            -#   %li
            -#     %a{:href => "brand-building.html"} Construcción de marca empleadora
            -#   %li
            -#     %a{:href => "dream-race.html"} Carrera de los sueños de los jovenes
          %li.nav-item
            %a.nav-link.nav-link-p.fixed--link{:target=>"_blank", :data-toggle => 'offcanvas', :href => "https://www.elempleo.com/sitios-empresariales/colombia/consultores-organizacionales", :role => "button"}
              Publicaciones
            -# %ul-menu
            -#   %li
            -#     %a{:href => "index.html"} Media y alta gerencia
            -#   %li
            -#     %a{:href => "index.html"} Profesionales
          %li.nav-item
            %a.nav-link.nav-link-p.fixed--link{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              Prensa
            -# %ul-menu
            -#   %li
            -#     %a{:href => "career-tips.html"} Consejos de carrera
            -#   %li
            -#     %a{:href => "human-management.html"} Gestión humana como aliado estratégico del negocio 
          %li.nav-item
            %a.nav-link.nav-link-p.fixed--link{:href => 'about.html',:data-toggle => 'offcanvas' } Proveedores
          %li.nav-item
            %a.nav-link.nav-link-p.fixed--link.main-general__button{:href => 'about.html',:data-toggle => 'offcanvas' } ¡Ayudanos a mejorar!
        -# %ul.main-rrss__responsive
        -#   %li
        -#     %img{:src=>'assets/img/facebook@3x.png'}
        -#   %li
        -#     %img{:src=>'assets/img/facebook-logo-in-circular-button-outlined-social-symbol_2@3x.png'}
        -#   %li
        -#     %img{:src=>'assets/img/social-linkedin-circular-button_5@3x.png'}
        -#   %li
        -#     %img{:src=>'assets/img/social-linkedin-circular-button_6@3x.png'}