!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'UTF-8' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name:'viewport' }/
    %title Ekored
    %link{:crossorigin => "anonymous", :href => "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", :integrity => "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", :rel => "stylesheet"}/
    %link{ rel: 'stylesheet', href:'assets/css/font-awesome.css' }/
    %link{ rel: 'stylesheet', href:'assets/css/font-awesome.css' }/
    %link{ rel: 'stylesheet', href:'assets/css/slick-theme.css' }/
    %link{ rel: 'stylesheet', href:'assets/css/slick.css' }/
    %link{ rel: 'stylesheet', href:'assets/css/main.css' }/
    %link{ rel: 'stylesheet', href:'https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css' }/
    %link{:href => "assets/img/favicon.png", :rel => "shortcut icon"}/
    %link{ href:'https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900|Open+Sans:300,400,600,700,800|Poppins:100,200,300,400,500,600,700,800,900&display=swap',  rel:'stylesheet' }/
  %body
    %header.fixed-top.navbar-fixed-js.navbar-fixed-js--custom         
      %nav.navbar.navbar-expand-lg
        .container
          .main-brand__top
            .main-brand
              %a.navbar-brand{ :href => 'index.html' }
                %img#iso{ :src => 'assets/img/logo_2@2x.png', :alt=>"Logo Ekored"}/ 
          .main-brand__fixed
            .main-brand
              %a.navbar-brand{ :href => 'index.html' }
                %img#iso{ :src => 'assets/img/logo_2@2x.png', :alt=>"Logo Ekored" }/ 
          .main-brand.brand-responsive
            %a.navbar-brand{ :href => 'index.html' }
              %img#iso{ :src => 'assets/img/logo_2@2x.png', :alt=>"Logo Ekored"}/ 
            %button.navbar-toggler.p-2.border-0.hamburger.hamburger--elastic.ml-autos{ 'data-toggle' => 'offcanvas', :type => 'button' }
              %span.hamburger-box
              %span.hamburger-inner
          .navbar-collapse.offcanvas-collapse
            %ul.navbar-nav.mr-autos
              %li.nav-item
                %a.nav-link.nav-link-p.fixed--link{:href => 'nosotros.html',:data-toggle => 'offcanvas' }                
                  Quénes Somos
                -# %ul.dropdown-menu
                -#   %li
                -#     %a{:href => "attraction-and-talent-selection.html"} 
                -#   %li
                -#     %a{:href => "youth-program.html"} 
                -#   %li
                -#     %a{:href => "career-development.html"} 
                -#   %li
                -#     %a{:href => "evaluation-and-career.html"} Zona de Clientes
                -#   %li
                -#     %a{:href => "inhouse-consultant.html"} 
                -#   %li
                -#     %a{:href => "employer-brand.html"} Marca empleadora
              %li.nav-item
                %a.nav-link.nav-link-p.fixed--link{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                  PET
                -# %ul.dropdown-menu
                -#   %li
                -#     %a{:href => "diversity-and-inclusion.html"} Diversidad e inclusión
                -#   %li
                -#     %a{:href => "future-of-work.html"} Futuro del trabajo
                -#   %li
                -#     %a{:href => "future-of-education.html"} Futuro de la educación
                -#   %li
                -#     %a{:href => "brand-building.html"} Construcción de marca empleadora
                -#   %li
                -#     %a{:href => "dream-race.html"} Carrera de los sueños de los jovenes
              %li.nav-item
                %a.nav-link.nav-link-p.fixed--link{ :data-toggle => 'offcanvas', :href => "publicaciones.html", :role => "button"}
                  Publicaciones
                -# %ul.dropdown-menu
                -#   %li
                -#     %a{:href => "index.html"} Media y alta gerencia
                -#   %li
                -#     %a{:href => "index.html"} Profesionales
              %li.nav-item
                %a.nav-link.nav-link-p.fixed--link{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                  Prensa
                -# %ul.dropdown-menu
                -#   %li
                -#     %a{:href => "career-tips.html"} Consejos de carrera
                -#   %li
                -#     %a{:href => "human-management.html"} Gestión humana como aliado estratégico del negocio 
              %li.nav-item
                %a.nav-link.nav-link-p.fixed--link{:href => 'proveedores.html',:data-toggle => 'offcanvas' } Proveedores
              %li.nav-item
                %a.nav-link.nav-link-p.fixed--link.main-general__button{:href => 'about.html',:data-toggle => 'offcanvas' } ¡Ayudanos a mejorar!
            -# %ul.main-rrss__responsive
            -#   %li
            -#     %img{:src=>'assets/img/facebook@3x.png'}
            -#   %li
            -#     %img{:src=>'assets/img/facebook-logo-in-circular-button-outlined-social-symbol_2@3x.png'}
            -#   %li
            -#     %img{:src=>'assets/img/social-linkedin-circular-button_5@3x.png'}
            -#   %li
            -#     %img{:src=>'assets/img/social-linkedin-circular-button_6@3x.png'}
    %section.general-banner{:style=>"background-image:url('assets/img/servicios/image@3x.png')"}
      .general-banner__mask
        %h2.general-banner__title
          Contacto
    %section.contact-us
      .container.padding-top-bottom
        %h2.main-general__title.main-general__title--small.wow.animated.fadeIn{:style=>"visibility: visible; animation-delay: .3s  ;"}
          Escríbenos ahora
        .d-flex.justify-content-center
          %p.main-general__description
            Lorem ipsum dolor sit amet consectetur adipiscing elit donec facilisi magna natoque, per eros massa feugiat imperdiet elementum urna nulla erat.       
        .container-grid
          .contact-us__img
            %img{:src=>"assets/img/contacto/contacto.png" }/
          .contact-us__form
            %form
              %input{:type=>"text", :placeholder=>'Nombre'}/
              %input{:type=>"text", :placeholder=>'Correo'}/
              %input{:type=>"text", :placeholder=>'Teléfono'}/
              %input{:type=>"text", :placeholder=>'Asunto'}/
              %textarea{:placeholder=>"Mensaje"}
              %label{:for => "vehicle1"}
                %input#vehicle1{:name => "vehicle1", :type => "checkbox", :value => "Bike"}/
                Estoy de acuerdo con los 
                %span 
                  términos condiciones 
                y 
                %span  
                  políticas privacidad
              %a.main-general__button{:href=>""}ENVIAR
    %section.contact-info
      .container.padding-top-bottom
        .container-grid
          .contact-info__item
            .contact-info__icon
              %a{:href=>""}
                %img{:src=>"assets/img/contacto/place@3x.png" }/
      
            %p.contact-info__title            
              Visítanos en 
            %a.contact-info__link{:href=>""}
              Carrera 51b #78-40
          .contact-info__item
            .contact-info__icon
              %a{:href=>""}
                %img{:src=>"assets/img/contacto/envelope@3x.png" }/
                
            %p.contact-info__title            
              Email
            %a.contact-info__link{:href=>"mailto:info@ekored.co"}
              info@ekored.co
          .contact-info__item
            .contact-info__icon
              %a{:href=>""}
                %img{:src=>"assets/img/contacto/phone-call@3x.png" }/                
            %p.contact-info__title            
              Contáctanos a
            %a.contact-info__link{:href=>"tel:5744443569"}
              Phone: 57 (4) 444 35 69
        .d-flex.justify-content-center
          %a.main-general__button{:href=>""}AGENDA TU CITA GUIADA
    %section.contact-map
      %img{:src=>"assets/img/contacto/map.png" }/
      .contact-map__mask
      .contact-map__info
        %ul
          %li
            %b
              ekored
          %li
            Carrera 51b #78-40
          %li  
            Medellín
        .contact-map__triangle
      


    %footer.main-footer
      .container.padding-top-bottom
        .container-grid
          .main-footer__item
            .main-footer__logo
              %img{:src=>"assets/img/logo_2@2x.png" }/
            %p.main-footer__description
              Lorem ipsum dolor sit amet consectetur adipiscing elit donec facilisi magna natoque, per.
          .main-footer__item
            %h2.main-footer__title
              Menú 
            %ul.site-map
              %li
                %a{:href=>"nosotros.html"}
                  Quiénes Somos 
              %li
                %a{:href=>"servicios.html"}
                  Servicios
              %li
                %a{:href=>"publicaciones.html"}
                  Publicaciones 
              %li
                %a{:href=>"proveedores.html"}
                  Proveedores
              %li
                %a{:href=>"contacto.html"}
                  Contácto 
          .main-footer__item
            %h2.main-footer__title
              Datos de Contacto
            %ul.list-contact
              %li
                %a{:href=>""}
                  %i.fa.fa-map-marker 
                  Carrera 51b #78-40
              %li
                %a{:href=>"mailto:info@ekored.co"}
                  %i.fa.fa-envelope-o
                  Email: info@ekored.co
              %li
                %a{:href=>"tel:5744443569"}
                  %i.fa.fa-phone 
                  Phone: 57 (4) 444 35 69
          .main-footer__item
            %h2.main-footer__title
              Nuestras Redes
            .main-footer__rrss
              %a.rrss__item{:href=>"https://www.facebook.com/ekoredco", :target=>"_blank"}
                %i.fa.fa-facebook 
              %a.rrss__item{:href=>"https://twitter.com/ekoredco", :target=>"_blank"}
                %i.fa.fa-twitter 
              %a.rrss__item{:href=>"https://www.youtube.com/channel/UCSRIAcCn4BsyyqK4WywatZg", :target=>"_blank"}
                %i.fa.fa-youtube-play 
              %a.rrss__item{:href=>"https://www.instagram.com/ekoredco/", :target=>"_blank"}
                %i.fa.fa-instagram 

      %a#js_up.boton-subir.slider-top{:href => "#"}
        %img{:src=>"assets/img/button@3x.png", :alt=>"icon chat"}
      .main-powered
        .container 
          .d-flex.justify-content-center.p-4
            %p Copyright © 2019 
            %a{:href=>"https://sigma.la/"} Sigma Studios 
            %p - Sitios Web
    .main-whatsapp
      %a{:target=>"_blank", :href=>"https://wa.me/573176383948"}
        %img{'data-src'=>"assets/img/whatsapp@3x.png", :alt=>"icon chat"}

    %script{src: 'assets/js/jquery.min.js' }
    %script{:crossorigin => "anonymous", :integrity => "sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1", :src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", :src => "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"}
    %script{src: 'assets/js/slick.min.js' }
    %script{src: 'assets/js/setting-slick.js' }
    %script{src: 'https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js' }
    %script{src: 'https://cdnjs.cloudflare.com/ajax/libs/blazy/1.8.2/blazy.min.js' }
    %script{src: 'assets/js/main.js' }

